{% extends "nav.html" %}
{% block content %}
    <!-- <h2>Random numbers are fun!</h2> -->
    {% if step == "chooseCountry" %}
      <h2>{{ name }}</h2>
      <form action="{{ url_for('setup') }}" method="post">
        <div class="wapper" id="map">
          <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
          <script src="https://www.amcharts.com/lib/3/maps/js/unRegionsHigh.js"></script>
          <div id="unRegions" class="mapdiv"></div>
          <input type="hidden" name="region" id="region_field" value="." />

        </div>
        <script src="/static/js/mapSetup.js"></script>
        <input type="hidden" name="step" value="tripType">
        <input type="button" id="submitit" value="Submit" onclick="this.form.submit()" />
      </form>
    {% elif step == "tripType" %}
      <h2>{{ name }}</h2>
      <form action="{{ url_for('setup') }}" method="post">
        <div class="wapper">
          <div class="setup-cards">
            <label>
              <input type="radio" name="1" class='card-input-element' value="Solo" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/upload.svg" alt="">
                <h3>Solo</h3>
              </div>
            </label>
            <label>
              <input type="radio" name="1" class='card-input-element' value="Couple" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/customize.svg" alt="">
                <h3>Couple</h3>
              </div>
            </label>
            <label>
              <input type="radio" name="1" class='card-input-element' value="Family" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/book.svg" alt="">
                <h3>Family</h3>
              </div>
            </label>
            <label>
              <input type="radio" name="1" class='card-input-element' value="Friends" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/book.svg" alt="">
                <h3>Friends</h3>
              </div>
            </label>
            <label>
              <input type="radio" name="1" class='card-input-element' value="Friends and Family" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/book.svg" alt="">
                <h3>Friends and Family</h3>
              </div>
            </label>
          </div>
        </div>
      <!-- Pick a lower limit: <input type="text" name="lowerlim"><br> -->
      <div>
      <input type="hidden" name="step" value="occasion">
      <!-- <input type="submit" value="Next"> -->
      <input type="button" id="back" value="Back" onclick="window.history.back()" />
      </div>
      </form>
    {% elif step == "occasion" %}
      <h2>{{ name }}</h2>
      <form action="{{ url_for('setup') }}" method="post">
        <div class="wapper">
          <div class="setup-cards">
            <label>
              <input type="radio" name="2" class='card-input-element' value="Fun" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/upload.svg" alt="">
                <h3>Just for fun </h3>
              </div>
            </label>
            <label>
              <input type="radio" name="2" class='card-input-element' value="birthday" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/customize.svg" alt="">
                <h3>Birthday</h3>
              </div>
            </label>
            {% if number == 'Solo' %}
            <label>
              <input type="radio" name="2" class='card-input-element' value="Business" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Business</h3>
            </div>
            </label>
            {% endif %}
            {% if number == 'Couple' %}
            <label>
              <input type="radio" name="2" class='card-input-element' value="Anniversary" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Anniversary</h3>
            </div>
            </label>
            <label>
              <input type="radio" name="2" class='card-input-element' value="Honeymoon" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Honeymoon</h3>
            </div>
            </label>
            {% endif %}
            <label>
              <input type="radio" name="2" class='card-input-element' value="Celebration" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Celebration</h3>
            </div>
            </label>
          </div>
        </div>
      <!-- <input type="hidden" name="1" class='card-input-element' > -->
      <input type="hidden" name="step" value="dietaryRestrictions">
      <!-- <input type="submit" value="Generate"> -->
      </form>
      <input type="button" id="back" value="Back" onclick="window.history.back()" />
    {% elif step == "dietaryRestrictions" %}
      <h2>{{ name }}</h2>
      <form action="{{ url_for('setup') }}" method="post">
        <div class="wapper">
          <div class="setup-cards">
            <label>
              <input type="radio" name="3" class='card-input-element' value="Vegetarian" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/upload.svg" alt="">
                <h3>Vegetarian </h3>
              </div>
            </label>
            <label>
              <input type="radio" name="3" class='card-input-element' value="Vegan" onchange="this.form.submit()">
              <div class="about-card">
                <img src="./assets/img/customize.svg" alt="">
                <h3>Vegan </h3>
              </div>
            </label>
            <label>
              <input type="radio" name="3" class='card-input-element' value="No Red Meat" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>No Red Meat</h3>
            </div>
            </label>
            <label>
              <input type="radio" name="3" class='card-input-element' value="Halal" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Halal</h3>
            </div>
            </label>
            <label>
              <input type="radio" name="3" class='card-input-element' value="Kosher" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>Kosher</h3>
            </div>
            </label>
            <label>
              <input type="radio" name="3" class='card-input-element' value="None" onchange="this.form.submit()">
            <div class="about-card">
              <img src="./assets/img/book.svg" alt="">
              <h3>None</h3>
            </div>
            </label>
          </div>
        </div>
      <!-- <input type="hidden" name="1" class='card-input-element' > -->
      <input type="hidden" name="step" value="numPeople">
      <input type="hidden" name="step" value="results">
      <!-- <input type="submit" value="Generate"> -->
      <input type="button" id="back" value="Back" onclick="window.history.back()" />
      </form>

      {% elif step == "numPeople" %}
        <h2>{{ name }}</h2>
        <form action="{{ url_for('setup') }}" method="post">
          <div class="numPeople">
            <div class="description">
              <h3>Adults:</h3>
            </div>
            <div class="quantity buttons_added">
              <input type="button" value="-" class="minus">
              <input type="number" step="1" min="1" max="" name="adultQuantity" value="2" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""             >
              <input type="button" value="+" class="plus">
            </div>
          </div>
          <div class="numPeople">
            <div class="description">
              <h3>Children:</h3>
            </div>
            <div class="quantity buttons_added">
              <input type="button" value="-" class="minus">
              <input type="number" step="1" min="0" max="" name="childQuantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""             >
              <input type="button" value="+" class="plus">
            </div>
          </div>
          <input type="button" class="back" id="back" value="Back" onclick="window.history.back()" />
          <input type="button" id="submitit" value="Submit" onclick="this.form.submit()" />
        <!-- <input type="hidden" name="1" class='card-input-element' > -->
        <input type="hidden" name="step" value="ifDates">
        <!-- <input type="submit" value="Generate"> -->

        </form>
      {% elif step == "ifDates" %}
        <h2>{{ name }}</h2>
        <form action="{{ url_for('setup') }}" method="post">
          <div class="wapper">
            <div class="setup-cards">
              <label>
                <input type="radio" name="6" class='card-input-element' value="Yes" onchange="this.form.submit()">
                <div class="about-card">
                  <img src="./assets/img/upload.svg" alt="">
                  <h3>Yes </h3>
                </div>
              </label>
              <label>
                <input type="radio" name="6" class='card-input-element' value="No" onchange="this.form.submit()">
                <div class="about-card">
                  <img src="./assets/img/customize.svg" alt="">
                  <h3>No </h3>
                </div>
              </label>
            </div>
          </div>
          <input type="hidden" name="step" value="dates">
          <input type="button" id="back" value="Back" onclick="window.history.back()" />
        </form>
      {% elif step == "dates" %}
        <h2>{{ name }}</h2>
        <h4>{{ description }}</h4>
        {% if number == 'Yes' %}
          <form action="{{ url_for('setup') }}" method="post">
            <div class="wapper">
              <div class="numPeople">
                <div class="description">
                  <h3>Arrival:</h3>
                </div>
                <input type="date" class="tripDate" id="start" name="trip-start" placeholder="Choose a Date"
       required="required">
              </div>
              <div class="numPeople">
                <div class="description">
                  <h3>Departure:</h3>
                </div>
                <input type="date" class="tripDate" id="end" name="trip-end" placeholder="Choose a Date"
       required="required">
              </div>
            </div>
            <input type="hidden" name="step" value="results">
            <input type="button" class="back" id="back" value="Back" onclick="window.history.back()" />
            <input type="button" id="submitit" value="Submit" onclick="this.form.submit()" />
          </form>
        {% elif number == 'No' %}
        <form action="{{ url_for('setup') }}" method="post">
          <div class="selectMonth">
            <div class="numPeople">
              <div class="description">
                <h3>Month:</h3>
              </div>
              <select name="months" id="months"></select>
              <script>
                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                   function writeMonthOptions() {

                        var myselect = document.getElementById("months"), year = new Date().getFullYear();
                        var today = new Date();
                        var optionValues;

                        var gen = function (max) {
                            var curMonth = today.getMonth();
                            var curYear = year;  // presevere outer year value if you hava other use
                            do {
                                optionValues = months[curMonth] + ' ' + curYear;
                                myselect.add(new Option(optionValues, optionValues), null);

                                ++curMonth;

                                // When months reach the 13th ele of months, advance to next year.
                                if (curMonth === months.length) {
                                    ++curYear;
                                    curMonth = 0;
                                }

                                max++;
                            } while (max < 12);
                        }(0);
                    }
                  writeMonthOptions();
              </script>
            </div>
            <div class="numPeople">
              <div class="description">
                <h3>Number of Days:</h3>
              </div>
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus">
                <input type="number" step="1" min="1" max="" name="days" value="2" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""             >
                <input type="button" value="+" class="plus">
              </div>
            </div>
          </div>
          <input type="hidden" name="step" value="results">
          <input type="button" class="back" id="back" value="Back" onclick="window.history.back()" />
          <input type="button" id="submitit" value="Submit" onclick="this.form.submit()" />
        </form>
        {% endif %}
      {% elif step == "results" %}
        <h2>{{ name }}: Foodie - Dinner</h2>
        <div class="totalDisplay">
        <!-- Your results are: {{number}}.<br>
        Your json are: {{json}}.<br> -->
        {% set numDays = json['unplannedDates']['days'] | int %}
        {% for i in range(numDays) %}
        <div class="itinerary-card">
          <div class="itinerary-highlight-img">
            <img src="https://images.getbento.com/accounts/492d6dba03bb5c6fce6354bece02dc20/media/images/27900Hero2.jpg?fit=max&w=1800&auto=format,compress" alt="" height="200" width="200">
          </div>
          <div class="itinerary-highlight-description">
            <h3 class="itinerary-day">Day 1</h3>
            <h3>Ramen - Daikaya</h3>
            <p>Daikaya ramen (1F) offers Sapporo-style ramen, which is widely considered one of Japan’s most prominent and influential ramen styles. Sapporo style ramen is distinguished by its Chintan stock; a clear soup base that requires over 16 hours of careful preparation to achieve its delicate and complex depth. The stock contains chicken, pork, and beef. Our noodles are imported from Sapporo, Japan and made by Nishiyama Seimen Company according to the recipe we developed.</p>
          </div>
        </div>
        <div class="itinerary-card">
          <div class="itinerary-highlight-img">
            <img src="http://www.karmamodernindian.com/img/about.jpg" alt="" height="200" width="200">
          </div>
          <div class="itinerary-highlight-description">
            <h3 class="itinerary-day">Day 2</h3>
            <h3>Indian - Karma Modern Indian</h3>
            <p>Karma Modern Indian creatively reimagines classic Indian cuisine and flavors, using locally-sourced ingredients prepared with traditional and modern cooking methods. We aim to make Indian food more approachable by introducing the traditional cuisine with contemporary plating and forward-thinking flavor profiles. </p>
          </div>
        </div>
        <div class="itinerary-card">
          <div class="itinerary-highlight-img">
            <img src="http://www.dasethiopian.com/wp-content/uploads/2014/06/039-e1403371003122.jpg" alt="" height="200" width="200">
          </div>
          <div class="itinerary-highlight-description">
            <h3 class="itinerary-day">Day 3</h3>
            <h3>Ethiopian - Das Ethiopian Cuisine</h3>
            <p>Ethiopian cuisine is best known for its mixes and presentations of various seasoned meats, vegetables, and flavorful stews, served alongside a cultural stable bread injera. DAS’ menu features dishes from the traditional Ethiopian standards to unexpected new combinations like Eggplant and Carrot Wot. A dish made with eggplant in a tomato sauce, and Spinach and Rice, where vegetables are cooked with stewed tomatoes in rice. Classic stables include Collard Greens Gomen and Miser Wot, red lentils seasoned with Ethiopian herbs. Meat and vegetable dishes, lamb, chicken, beef and meat and vegetable combinations.</p>
          </div>
        </div>
        {% endfor %}
        <!-- Your region is: {{ region }}. <br> -->
        </div>
    {% endif %}
{% endblock %}
